<!DOCTYPE html>
<html style="height: 100%; width: 100%; margin: 0;font-family: 'Helvetica';text-align:center;">
<head>
    <meta charset="UTF-8">
    <title>Taxi Oracle</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>

<body style="background:white;height: 100%; width: 100%; margin: 0;">
 <div style="height: 100%; width: 100%; margin: 0;">
    <h1>The Taxi Oracle</h1>
    <img src="data:image/png;base64,{{ result }}" style="height:100%" />

 </div>


</body>
</html>
